<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/main_layout}">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/brand-color-style.css">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container-brand">
                    <div class="content-show">
                        <table>
                            <br>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="td-search-brand"><input type="text" class="text-search-brand"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-brand">
                                    <div>
                                        <table class="table table-hover table-bordered border-primary" id="table-product">
                                            <!-- build HTML table based on employees -->
                                            <thead class="table-dark">
                                            <tr class="tr-table-phone-title">
                                                <th class="th-brand-name">Brand</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="tr-phone-style" th:each="temp:${brandPage.content}">
                                                <td class="td-brand-name" th:text="${temp.brand}">Apple</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <nav aria-label="...">
                                            <ul class="pagination pagination-sm" th:if="${brandPage.totalPages > 0}"
                                                th:each="pageNumber : ${pageNumbers}">
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       style="color: black"
                                                       th:href="@{/admin/brand(page=${pageNumber})}"
                                                       th:text="${pageNumber}"
                                                       th:class="${pageNumber==brandPage.number + 1} ? active"/>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-update">
                        <div class="brand-container">
                            <form action="/admin/brand/save" class="form-add-brand" th:object="${postBrand}" method="post">
                                <table class="style-add-brand">
                                    <tr>
                                        <td>
                                            <div class="phone-container">
                                                <p>
                                                    <label><b>Brand</b></label>
                                                    <input th:field="*{brand}" class="input-text-phone-style" type="text">
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="vertical-center">
                                    <button type="submit" class="btn-add">SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>