<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/change-password-style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/jscript/error-change-password.js" th:src="@{/jscript/error-change-password.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <form action="#" id="change-password-form" method="post" th:object="${changePassword}">
            <div class="container-change-password">
                <div class="title-change-password">
                    <label class="text-title"><b>CHANGE PASSWORD</b></label>
                </div>
                <div class="center-change-pass">

                    <div class="password-container">
                        <p>
                            <label><b>Username</b></label>
                            <label type="text" th:text="${session.user.getStaffInfo().username}" class="input-text-phone-style">username</label>
                        </p>
                    </div>
                    <div class="password-container">
                        <p>
                            <label><b>Old password</b></label>
                            <input type="password" th:field="*{oldPassword}" class="input-text-phone-style" id="old-password" />
                            <i class="fas fa-eye" id="show-old-password"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                        </p>
                    </div>
                    <div class="password-container">
                        <p>
                            <label><b>New password </b></label>
                            <input type="password" th:field="*{newPassword}" class="input-text-phone-style" id="new-password" />
                            <i class="fas fa-eye" id="show-new-password"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                        </p>
                    </div>
                    <div class="password-container">
                        <p>
                            <label><b>Verify password </b></label>
                            <input type="password" class="input-text-phone-style" id="verify-password" />
                            <i class="fas fa-eye" id="show-verify-password"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                            <p th:text="${message}" style="color:red;">
                        </p>
                    </div>
                    <div class="vertical-center-change-pass">
                        <button type="submit" class="btn-add">ADD</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript" layout:fragment="script">

</script>
</body>
</html>