<!DOCTYPE html>
<html
      lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/staff-style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
        <div class="container-staff">
            <table>
                <br>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td class="td-search-staff"><input type="text" class="text-search"></td>
                                <td><a class="btn btn-primary btn-sm mb-3" id="btn-add-staff" href="/admin/staff/upload-staff">Add</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="table-phone">
                        <div>
                            <table class="table table-bordered table-striped" id="table-product">
                                <!-- build HTML table based on employees -->
                                <thead class="table-dark">
                                <tr class="tr-table-staff-title">
                                    <th class="th-Last-name-staff">Last name</th>
                                    <th class="th-first-name-staff">First name</th>
                                    <th class="th-id-card-staff">Identity card</th>
                                    <th class="th-phone-number-staff">Phone number</th>
                                    <th class="th-date-of-birth-staff">Date of birth</th>
                                    <th class="th-gender-staff">Gender</th>
                                    <th class="th-email-staff">Address</th>
                                    <th class="th-email-staff">Email</th>
                                    <th class="th-role-staff">Role</th>
                                    <th class="th-salary-staff">Salary</th>
                                    <th class="th-username-staff">Username</th>
                                    <th class="th-action-staff">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr-phone-style" th:each="staffTemp:${staffs}">
                                    <td th:text="${staffTemp.lastName}" />
                                    <td th:text="${staffTemp.firstName}"/>
                                    <td th:text="${staffTemp.identityCard}"/>
                                    <td th:text="${staffTemp.phoneNumber}"/>
                                    <td th:text="${staffTemp.dateOfBirth}"/>
                                    <td th:text="${staffTemp.gender}"/>
                                    <td th:text="${staffTemp.address}"/>
                                    <td th:text="${staffTemp.email}"/>
                                    <td th:text="${staffTemp.role}"/>
                                    <td th:text="${staffTemp.salary}"/>
                                    <td th:text="${staffTemp.userName}"/>
                                    <td><a class="btn btn-primary btn-sm mb-3" href="#">Update</a>
                                        <a href="#" class="btn btn-danger btn-sm mb-3">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>