<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/order-style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/jscript/order.js" th:src="@{/jscript/order.js}"></script>
</head>
    <body>
        <div layout:fragment="content">
            <div class="container-order">
                <table>
                    <br>
                    <tr>
                        <td>
                            <form id="form-search-by-date" method="get">
                                <table>
                                    <tr>
                                        <td>

                                            <div class="order-container-date">
                                                <span>From date: </span>
                                                <input type="date" id="from-date" class="from-date" th:name="from-date" th:value="${date.fromDate}">
                                                <i class="fas fa-exclamation-circle"></i>
                                                <small>Error message</small>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-container-date">
                                                <span class="to">To: </span>
                                                <input type="date" id="to-date" th:name="to-date" th:value="${date.toDate}">
                                                <i class="fas fa-exclamation-circle" id="icon-error-to-date"></i>
                                                <small class="message-error-to-date">Error message</small>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn-submit-search"><i class="fas fa-search"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-search-phone" id="text-search-customer">
                            <br>
                            <input type="text" class="text-search">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-order">
                            <div>
                                <table class="table table-bordered table-striped" id="table-order">
                                    <!-- build HTML table based on employees -->
                                    <thead class="table-dark">
                                    <tr class="tr-table-order-title">
                                        <th class="th-name-order">Name</th>
                                        <th class="th-phone-number-order">Phone number</th>
                                        <th class="th-address-order">Address</th>
                                        <th class="th-order">Order</th>
                                        <th class="th-date-order">Order date</th>
                                        <th class="th-status">status</th>
                                        <th class="th-action-order">action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-order-style" th:each="tempCustomerOrder:${customerOrders}">
                                        <td th:text="${tempCustomerOrder.name}"/>
                                        <td th:text="${tempCustomerOrder.note}"/>
                                        <td th:text="${tempCustomerOrder.address}"/>
                                        <td>
                                            <table class="table-list-order">
                                                <thead>
                                                    <tr >
                                                        <th class="th-phone-name-order">Phone name</th>
                                                        <th class="th-price-order">Price</th>
                                                        <th class="th-quantity-order" >Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="tempOrder:${tempCustomerOrder.listOrder}">
                                                        <td class="th-phone-name-order" th:text="${tempOrder.phoneName}"/>
                                                        <td class="th-price-order" th:text="${tempOrder.price}"/>
                                                        <td class="th-quantity-order" th:text="${tempOrder.quantity}"/>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td th:text="${tempCustomerOrder.createDate}"/>
                                        <td th:text="${tempCustomerOrder.status}"/>
                                        <td><a class="btn btn-primary btn-sm mb-3" href="#">Update</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </body>
</html>