.container-add-phone {
    display: grid;
    height: 90vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: "header header" "content1 content2" "footer footer";
}
.container-phone {
    box-shadow: 3px 3px 3px 3px darkgray;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    top: 10px;
    left: 50px;
    width: 160vh;
    height: 100vh;
    margin-bottom: 20px;
}
header {
    grid-area: header;
    text-align: center;
    vertical-align: middle;
    background-color: aqua;
    width: 100%;
    height: 24px;
}

footer {
    background-color: white;
    grid-area: footer;
}
.error{
    color: red;
}

#content1 {
    grid-area: content1;
    background-color: white;
    margin-left: 150px;
}

#content2 {
    background-color: white;
}

.img-style {
    width: 300px;
    height: 400px;
}

.container-img-style {
    margin-top: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 310px;
    height: 410px;
}


.phone-container small {
    visibility: hidden;
    position: absolute;
    left: 0px;
}

.phone-container i {
    visibility: hidden;
    position: absolute;
    top: 30px;
    right: 100px;
}

.phone-container.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.phone-container.error small {
    visibility: visible;
    color: red;
}

.phone-container.success i.fa-exclamation-circle {
    visibility: hidden;
}

.phone-container.success small {
    visibility: hidden;
}

.container-input-file i {
    position: absolute;
    visibility: hidden;
    right: 5px;
    bottom: 10px;
}

.container-input-file small {
    position: absolute;
    visibility: hidden;
    left: 0px;
    top: 30px;
}
.container-input-file.sucess i.fa-exclamation-circle {
    visibility: hidden;
}

.container-input-file.success small {
    visibility: hidden;
}

.container-input-file.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.container-input-file.error small {
    visibility: visible;
    color: red;
}

.table-add-phone {
    width: 100%;
}

.table-add-phone tr {
    display: flex;
}

.tr-style {
    text-align: center;
    vertical-align: middle;
}



.container-input-file {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

.upload-box {
    font-size: 16px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    outline: none;
}

::-webkit-file-upload-button {
    color: white;
    background-color: rgba(56, 89, 240, 0.808);
    border-radius: 5px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 500px;
}
.phone-container.error input {
    border-color: red;
}

.phone-container.error select {
    border-color: red;
}

.phone-container.error textarea {
    border-color: red;
}

.container-input-file.error input {
    border-color: red;
}