.container-change-password {
    position: absolute;
    left: 600px;
    top: 60px;
    box-shadow: 2px 2px 2px 2px gray;
    width: 500px;
    border-radius: 2px;
    height: 550px;
}

.center-change-pass {
    position: relative;
    left: 60px;
    top: 120px;
}

.vertical-center-change-pass {
    position: relative;
    top: 60px;
    left: 140px;
}

.title-change-password {
    position: relative;
    top: 0px;
    left: 0px;
}

.text-title {
    background-color: aqua;
    size: 18px;
    color: rgb(27, 88, 180);
    text-align: center;
    width: 100%;
}

.password-container  {
    display: block;
    position: relative;
}

.password-container i {
    position: absolute;
    visibility: hidden;
    right: 100px;
    top: 30px;
}

.password-container small {
    position: absolute;
    visibility: hidden;
    left: 0px;
    top: 50px;
}


.password-container.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.password-container.error small {
    visibility: visible;
    color: red;
}

.password-container.success i.fa-exclamation-circle {
    visibility: hidden;
}

.password-container.success small {
    visibility: hidden;
}
.password-container i.fa-eye-slash {
    visibility: visible;
    position: absolute;
    right: 130px;
    top: 31px;
}

.password-container i.fa-eye {
    visibility: visible;
    position: absolute;
    top: 31px;
    right: 130px;
}
