.td-search-phone {
    width: 140vh;
}

.text-search {
    width: 60vh;
}
.td-btn-add-phone{
    width: 30vh;
}

.table-phone {
    width: 200vh;
}
.th-phone-name{
    width: 20vh;
}
.th-brand{
    width: 20vh;
}
.th-color{
    width: 15vh;
}
.th-image{
    width: 30vh;
}
.th-quantity{
    width: 15vh;
}
.th-price{
    width: 20vh;
}
.th-description{
    width: 40vh;
}
.th-action{
    width: 20vh;
}
.tr-phone-style{
    text-align: center;
}
.tr-table-phone-title{
    text-align: center;
}
.tr-table-phone-title th{
    text-align: center;
    vertical-align: middle;
}

#table-phone tr td{
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

#btn-add-phone {
    width: 150px;
    position: absolute;
    right: 125px;
    top: 15px
}
i.fa-search{
    position: absolute;
    top: 25px;
    left: 690px;
}
