.td-search-staff {
    width: 140vh;
}

.text-search {
    width: 60vh;
}

.td-btn-add-phone {
    width: 30vh;
}

.table-phone {
    width: 200vh;
}

.container-staff {
    margin-left: 0px;
    margin-right: 0px;
}

#btn-add-staff {
    width: 150px;
    position: absolute;
    right: 125px;
    top: 15px
}
.tr-table-staff-title th{
    text-align: center;
    vertical-align: middle;
}
.tr-phone-style td{
    vertical-align: middle;
    align-content: center;

    text-align: center;
}

#btn-update-staff{
    width: 70px;

}
#btn-delete-staff{
    width: 70px;
}
#table-staff {
    margin-top: 10px;
}
#table-staff tr td {
    vertical-align: middle;
    align-content: center;
    text-align: center;
}
i.fa-search{
    position: absolute;
    top: 25px;
    left: 700px;
}
